<div class="bg-white rounded-lg w-full mt-2">
    <div class="grid grid-cols-1 md:grid-cols-3">
        <div class="col-span-1">
            <div class="p-3 h-full flex flex-col">
                <div class="flex mb-2 ">
                    <div class="w-1/3">
                        <h2 class="text-lg font-semibold text-gray-900 dark:text-white">Selected Template:</h2>
                    </div>
                    <div class="text-gray-500 dark:text-gray-400 w-2/3">
                        <h2>{{this.templateUsed}}</h2>
                    </div>
                </div>
                <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Selected Reports:</h2>
                <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                    <li *ngFor="let report of selectedReportsList">
                        {{report.name}}
                    </li>
                </ul>
                <div class="mt-auto">
                    <button type="button" (click)="BackToSelectReports()"
                        class="px-3 py-2 text-sm font-medium text-center inline-flex items-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Back to Select Reports
                    </button>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <form class="max-w-sm p-3">
                <div class="mb-5">
                    <label for="TitleOfAnalysis"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title of
                        Analysis</label>
                    <input type="text" id="TitleOfAnalysis" name="titleOfAnalysis" [(ngModel)]="titleOfAnalysis"
                        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
                        required />
                </div>
                <div class="mb-5">
                    <label for="ReportRecipient"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Report
                        Recipient</label>
                    <input type="text" id="ReportRecipient" name="reportRecipient" [(ngModel)]="reportRecipient"
                        class="shadow-xs bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-xs-light"
                        required />
                </div>
                <div class="mb-5">
                    <label for="ReportRecipient"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Report
                        Date</label>
                    <div class="relative max-w-sm">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
                            </svg>
                        </div>
                        <input datepicker id="default-datepicker" type="text" value="{{todayDate}}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="Select date">
                    </div>
                </div>
                <div class="mb-5">
                    <label for="message"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Comments</label>
                    <textarea id="message" rows="4"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Leave a comment..."></textarea>
                </div>
                <button type="submit" (click)="GenerateReport()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
            </form>
        </div>
    </div>
</div>